
InnerAndAbstractClassesAndInterfaces/LearnProject/.idea/misc.xml
InnerAndAbstractClassesAndInterfaces/LearnProject/.idea/modules.xml
InnerAndAbstractClassesAndInterfaces/LearnProject/.idea/vcs.xml
InnerAndAbstractClassesAndInterfaces/LearnProject/.idea/workspace.xml
InnerAndAbstractClassesAndInterfaces/LearnProject/feature-trainer-version.txt
InnerAndAbstractClassesAndInterfaces/LearnProject/LearnProject.iml
InnerAndAbstractClassesAndInterfaces/LearnProject/src/CodeAssistance.java
InnerAndAbstractClassesAndInterfaces/LearnProject/src/Main.java
InnerAndAbstractClassesAndInterfaces/LearnProject/src/Navigation.java
TEST
